<!-- <div class="app-container">
  <app-header></app-header>

  <div class="content">
    <app-sidebar></app-sidebar>

    <main class="page-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div> -->

<div class="app-container">
  <app-header></app-header>

  <div class="content">
    <app-sidebar></app-sidebar>

    <main class="page-content">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- Footer ajouté ici, en dehors de .content pour qu'il soit en bas -->
  <app-footer></app-footer>
</div>